@import "./styles/variables";
@import "./styles/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

.form-group{
  padding-bottom: 10px;
  padding-top: 10px;
}

.component-container{
  //@extend .p-4;
  padding: 40px 0px;
  @extend .mt-4;
  @extend .mb-4;
}
.edit-component-container{
  @extend .shadow;
  @extend .rounded;
}

.body-container{
  flex: 1;
  //@extend .mt-4;
  //@extend .mb-4;
}
.app-container{
  min-height: 100vh;
  @extend .d-flex;
  flex-direction: column;
  margin:0;
}

button{
  @extend .m-1;
}

h1{
  text-align: center;
}