@import './../../App.scss';


.half-page-section-header-wrapper {
    margin-bottom: 1rem;
    color: $primary;
}
.half-page-section-header{
    width: 100%;
    
}
.sub-header-text{
    color: $primary;
}