@import './../../App.scss';


.section-header-wrapper {
    margin-bottom: 2rem;
    
  color: $primary;
  font-weight: bold;
  
  text-align: center;
}
.section-header-text{
    margin-bottom: 35px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.sub-header-text{
    color: $primary;
}

.section-header-line {
  background-color: $primary;
  height: 3px;
  bottom: -20px;
  position: absolute;
  width: 120px;
}